@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";

body {
    @include container;    
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    letter-spacing: 0.7px;
    background-color: $body-background;   
}

/*  === HEADER === */

header {
    background: $header-background; 
    height: $header-height;
    color: $text-head-foot-color;
    z-index: 100;

    nav {
        border: 0.1px solid $nav-background;
        background-color: $nav-background;        
        
        ul {
            text-align: right;
            li {
                display: inline;
                padding-right: 3%; 

                a:visited, a:link {
                    color: $text-head-foot-color;
                    text-decoration: none; 
                }

                a:hover, a:active {
                    border-bottom: 5px dotted $curve-color;
                    transition: border-bottom 0.5s;
                }
                  
            }
        }
    }
    
    .logo {    
        text-align: center;        
    
        h1 {
            font-family: $logo-font-family;
            font-size: $h1-font-size;
            z-index: 100;
            margin: 0;
            padding: 0;            
          }
    
        p {
            font-family: $logo-font-family;
            font-weight: bolder;
            font-size: $p-font-size;
            margin: 0;
            padding: 0;            
        }
    }

    .slogan {
        margin-top: 4%;
        margin-left: 1%;
        font-weight: bolder;
        background: $nav-background;
        display: inline-block;

        .circle {
            color: darken($body-background, 20%);
        }
    }
}

main {   
    background-image: $background-main;    
}


/* === HEADING OF SECTIONS === */

h2 {
        @include section-header;

        a:link, a:visited {
            text-decoration: none;
            color: $text-color;
        }

        a:hover, a:active {
            font-size: 110%;
        }

        &:after {
            content: "";
            display: block;
            max-width: 950px;
            border-bottom: 15px dotted $curve-color;
            margin: 0 auto;
        }
}

/* === CONCERTS, SERVICES === */

section {
    background-image: url("../img/music-notes-480-lighten3.jpg");         
}

.author-concerts {
    text-align: center;
 }

.concert-row {
    &:hover {
        @include hover-animation;
    }
}

.item-concert { 
    @include item-box-concert;
    display: inline-block;
    text-align: center;
    @include links-in-section;    
}

/* === VIDEOS === */

.videos-row{
    text-align: center;
    .item-video { 
        @include item-box-video;
        display: inline-block;
        text-align: center;        
    }
}

/* === ALBUMS === */

.album-row {
    text-align: center;
    .item-album { 
        @include item-box-album;
        display: inline-block;        
    
        img {
            width: 100%;  
            height: 400px;
            border-radius: 10px;            
            box-shadow: 4px 6px 10px #000;
        }
    
        .album-name {
            text-align: center;
            font-size: 120%;
            em {
                font-size: 75%;
            }
        }
    
        p {
            text-align: center;
            margin-top: 5%;    
            
            a:link, a:visited {            
                background: darken($body-background, 30%);               
                text-decoration: none;
                color: $text-head-foot-color;
                padding: 1%;
            }
            a:hover, a:active {
                background: darken($body-background, 40%);
                transition: background 0.5s;
            }             
        }
    }
}

/* === PHOTOGALLERY === */
.photo-gallery { 
    img {
        max-width: 500px;  
        border-radius: 10px;        
        box-shadow: 4px 6px 10px #000; 
        display: block;
        margin: 3% auto 0 auto;
    }
}


/* === CONTACTS === */

.concert-planning {
    text-align: center;
    margin-bottom: 5%;

    .mail {
        border: 15px solid $curve-color;
        display: inline;
        border-radius: 50%;
    }

    .gratis {
        font-style: italic;
    }
}

.socials {
    display: block;
    margin-left: 5%;
    @include links-in-section; 

    .patreon {
        background: $curve-color;
    }    
}

.bye-bye {
    display: block;
    margin-left: 50%;  
    padding-bottom: 2%;  
    text-align: left; 

    .post-scriptum {
        background: $curve-color;        
    }
}

/* == FOOTER == */

footer {
    text-align: center;    
    @include links-in-section;
}




    


  







